{# This simple template derives from ``base.html``. See ``base.html`` for
    more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
    utils module here to automatically render Flask's flashed messages in a
    bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{super()}}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add icon library -->
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <style>
        .work {
            color: greenyellow;
        }
    </style>
{% endblock %}

{# Inside the ``content`` is where you should place most of your own stuff.
    This will keep scripts at the page end and a navbar you add on later
    intact. #}
{% block content %}

</div>
    {% for host in hosts['hosts'] %}
    <div class="container">
        <div class="card" style="margin:10px">
            <div class="card-header" id="headingOne{{host['name']}}">
                <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne{{host['name']}}"
                    aria-expanded="true"
                    aria-controls="collapseOne{{host['name']}}">
                    {{host['name']}}
                </button>
                <button 
                    class="btn_icon"
                    type="button"
                    onclick="window.location.href='{{url_for('frontend.server_status', serverName=host['name'])}}';">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            <div
                id="collapseOne{{host['name']}}"
                class="collapse"
                aria-labelledby="headin gOne"
                data-parent="#accordionExample{{host['name']}}">
                <div class="card-body">
                    <h3>{{host['name']}}的裝置列表</h3>
                    <table>
                        <thead>
                            <tr class="text-center">
                                <th style="text-align:center">serial_no</th>
                                <th>device_status</th>
                                <th style="padding-left:20px;padding-right:20px">device_detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in host['info']['phones'] %}
                                <tr class="text-center">
                                    <td style=padding-left:20px;padding-right:20px>{{phone['serial_no']}}</td>
                                    {% if phone['status'] == '1' %}
                                    <td class="work fas fa-lightbulb text-center" style="align:center"></td>
                                    {% else %}
                                    <td class="nonwork fas fa-lightbulb" style="align:center"></td>
                                    {% endif %}
                                    <td>
                                        <button 
                                            class="fa fa-arrow-right"
                                            aria-hidden="true"
                                            type="button"
                                            onclick="window.location.href='{{url_for('frontend.device_status', serianlNo=phone['serial_no'])}}';">
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{%- endblock %}